@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-style: normal;

  background-color: #09090a;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/background-assets/Noise & Texture.svg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: -1;
  mix-blend-mode: plus-darker;
  overflow: hidden;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.inter {
  font-family: var(--font-inter);
}

.clash_Display {
  font-family: var(--font-clash-display);
}
