@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-style: normal;
  background-color: #09090a;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100vh;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url("/assets/background-assets/Noise & Texture.svg") center/cover
    no-repeat;
  opacity: 0.2;
  z-index: -1;
  mix-blend-mode: plus-darker;
}

html {
  overflow-x: hidden;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.inter {
  font-family: var(--font-inter);
}

.clash_Display {
  font-family: var(--font-clash-display);
}
